$def with ()

<section><!-- BEGIN SECTION MAIN CONTENT -->
	<div class="main_content">

<div class="cube">
			<h2>C++</h2>
			<pre>

#include &lt;iostream>
using namespace std;

int a, b;

int main(){
	cin>>a>>b;
	cout&lt;&lt;a+b&lt;&lt;endl;
	return 0;
}
			</pre>

</div>

<div class="cube">
			<h2>Java</h2>
			<pre>
import java.util.*;
import java.io.*;
import java.math.*;

class Solution {
	public static void main(String args[])throws Exception{
		Scanner in = new Scanner(System.in);
		PrintWriter out = new PrintWriter(System.out);

		int a = in.nextInt();
		int b = in.nextInt();

		out.println(a + b);

		out.close();
	}
}
			</pre>

</div>


<div class="cube">
			<h2>C#</h2>
			<pre>
using System;

public class Solution
{
    public static void Main()
    {
        string line = Console.ReadLine();
        
        string[] words = line.Split(' ');
        
        int a = int.Parse(words[0]);
        int b = int.Parse(words[1]);
    
    	Console.WriteLine(a + b);
    }
}
			</pre>

</div>

	</div>
	<!--end holder-->
</section><!-- END SECTION MAIN CONTENT -->
